<!-- templates/mailing_service/mailing_form.html -->

{% extends 'mailing_service/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Создание рассылки - Spam Service{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <!-- Добавляем стили для календаря -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Создание рассылки</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_title">Название рассылки:</label>
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="form-group">
                    <label for="id_content">Содержание рассылки:</label>
                    {{ form.content|as_crispy_field }}
                </div>
                <div class="form-group">
                    <label for="id_start_time">Дата и время начала рассылки:</label>
                    {{ form.start_time|as_crispy_field }}
                    <script>
                        $(function() {
                            $('#id_start_time').daterangepicker({
                                singleDatePicker: true,
                                timePicker: true,
                                timePicker24Hour: true,
                                locale: {
                                    format: 'YYYY-MM-DD HH:mm:ss'
                                }
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="id_end_time">Дата и время окончания рассылки:</label>
                    {{ form.end_time|as_crispy_field }}
                    <script>
                        $(function() {
                            $('#id_end_time').daterangepicker({
                                singleDatePicker: true,
                                timePicker: true,
                                timePicker24Hour: true,
                                locale: {
                                    format: 'YYYY-MM-DD HH:mm:ss'
                                }
                            });
                        });
                    </script>
                </div>
                <div class="form-group">
                    <label for="id_status">Статус рассылки:</label>
                    {{ form.status|as_crispy_field }}
                </div>
                <div class="form-group">
                    <label for="id_frequency">Период рассылки:</label>
                    {{ form.frequency|as_crispy_field }}
                </div>
                <div class="form-group">
                    <label for="id_clients">Клиенты для рассылки:</label>
                    {{ form.clients|as_crispy_field }}
                </div>
                <br>
                <button type="submit" class="btn btn-success">Создать рассылку</button>
                <a href="{% url 'mailing_service:mailing_list' %}" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
