<!-- templates/mailing_service/mailing_list_detail.html -->
{% extends 'mailing_service/base.html' %}
{% block title %}Детали рассылки - {{ mailing.title }} - Spam Service{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Детали рассылки "{{ mailing.title }}"</h2>
        <p><strong>Заголовок:</strong> {{ mailing.title }}</p>
        <p><strong>Содержание:</strong> {{ mailing.content }}</p>
        <p><strong>Клиенты:</strong></p>
        <ul>
            {% for client in mailing.clients.all %}
                <li>{{ client.full_name }} ({{ client.email }})</li>
            {% endfor %}
        </ul>
        <p><strong>Время начала:</strong> {{ mailing.start_time }}</p>
        <p><strong>Время окончания:</strong> {{ mailing.end_time }}</p>
        <p><strong>Время отправки:</strong> {{ mailing.delivery_time }}</p>
        <p><strong>Статус:</strong> {{ mailing.get_status_display }}</p>
    </div>
{% endblock %}
