<!-- templates/mailing_service/mailing_form.html -->
{% extends 'mailing_service/base.html' %}
{% block title %}Создание рассылки - Spam Service{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2>Создание рассылки</h2>
        <div class="row mt-4">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title">Название рассылки:</label>
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        <label for="id_content">Содержание рассылки:</label>
                        {{ form.content }}
                    </div>
                    <div class="form-group">
                        <label for="id_start_time">Дата и время начала рассылки:</label>
                        {{ form.start_time }}
                    </div>
                    <div class="form-group">
                        <label for="id_end_time">Дата и время окончания рассылки:</label>
                        {{ form.end_time }}
                    </div>
                    <button type="submit" class="btn btn-primary">Создать рассылку</button>
                    <a href="{% url 'mailing_service:mailing_list' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
